<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
  </head>

  <body>

    <h3>Add Item</h3>

    <div>
        <a href="/home" class="button-header">Home</a>
        <a href="/inventory" class="button-header">Back to Inv</a>
    </div>
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button-submit">Add this item</button>
    </form> 

  </body>

</html>