<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Item Details</title>
  </head>

  <body>

    <h3>{{ Item.Item_name }}</h3>

    <a href="/inventory/">Inventory</a>

    <p> <b>Description:</b> {{ Item.Item_description }} </p>
    <p> <b>Quantity:</b> {{Item.Item_amount }}</p>

    <div>
      <a href="/edit/{{ Item.id }}/" class="button">Edit {{ Item.Item_name }}</a>
    </div>

    <div>
      <form action="{% url 'delete_item' Item.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </div>

  </body>

</html>
